body {
    background-color: rgb(250, 201, 110);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(200, 168, 9);
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(227, 154, 101);
}

div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}

#menuBG { /* the # calls on "names within quotes" like an ID selector*/
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#fromMenu { /*this is the size of the divs together to make up the menu categories*/
    width: 600px;
    height: 300px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}